/* -------------------------------------Chống copy, bôi đen. Thêm font chữ mới--------------------------------------------------------- */
body{
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
    background-color: rgba(0,0,0,0.9);
}
html {
    scroll-behavior: smooth;
}
@font-face {
    src: url("./avengeance-heroic-avenger/AVENGEANCE\ HEROIC\ AVENGER.ttf");
    font-family: avenger;
}
@font-face {
    src: url("./bebas-neue/BebasNeue.otf");
    font-family: netflix;
}
/*  -----------------------------------------------------Navbar---------------------------------------------------------------------------- */
.navbar {
    width: 100%;
    font-family: netflix;
    font-size: 25px;
}
.dropdown-item {
    font-size: 25px;
}
.dropdown-item:hover {
    background-color: rgba(12,12,12,0.2)
}
.dropdown .dropdown-menu {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    overflow: hidden;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    display: block;
}      
.dropdown:hover .dropdown-menu {
    -webkit-transform: scale(1);
            transform: scale(1);
}
.sticky-top {
    position: fixed;
}
/* ------------Logo Movie----------------- */
/* Màn hình tối đa 991px, thiết bị bé */
@media (max-width: 991px) {
    .navbar-collapse {
        margin-left: 0px !important;
    }
    .account-text {
        margin-left: 0px !important;
    }
    .modal-dialog {
        max-width: 90%;
    }
    #logo {
        margin-top: -8px;
        margin-left: -50px;
        display: none;
    }
    /* Cuộn lên xuống mờ thanh bar */
    .bg-dark {
        background: rgba(12,12,12) !important;
        transition:0.2s ease;
    }
    .bg-dark.scrolled {
        background: rgb(12, 12, 12) !important;
    }    
    .navbar {
        border-bottom: 2px solid rgb(253,195,6);
    }
}
/* Màn hình tối thiểu : 992px, thiết bị lớn */
@media (min-width:992px) {
    /* Cuộn lên xuống mờ thanh bar */
    #logo {
        margin-top: -18px;
        margin-left: -20px;
    }
    .bg-dark {
        background: rgba(12,12,12,0.1) !important;
        transition:0.2s ease;
    }
    .bg-dark.scrolled {
        background: rgb(12, 12, 12) !important;
    }
}

#logo {
    width: 40px;
    position: relative;
    transform: rotate(-50deg);
}
#logo span {
    color: rgb(253,195,6);
    font-weight: bold;
    font-size: 45px;
    font-family: monospace;
    height: 120px;
    position: absolute;
    transform-origin: bottom center;
}
.char1 {
    transform: rotate(22deg);
}

.char2 {
    transform: rotate(39deg);
}

.char3 {
    transform: rotate(53deg);
}

.char4 {
    transform: rotate(66deg);
}

.char5 {
    transform: rotate(80deg);
}






/*  --------------------------------------------Header video--------------------------------------------------------- */
/* ----------Chữ phần header------------------------------ */
.header-background {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.header-background h4 {
    position: absolute;
    z-index: 1;
    margin-right: 20px;
    bottom: 12vw;
}
.header-background #amazingslider-wrapper-3 {
    position: absolute;
    z-index: 0;
    width: 100%;
}
.fa-info-circle {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 24px !important;
}




















/* --------------------------------------------Modal Search------------------------------------------------------------ */
.modal-content {
    border: 2px solid rgb(253,195,6);
}
.modal-title {
    width: 100%;
}
#myInput {
    font-size: 18px;
    border: 2px solid rgb(253,195,6);
    padding-left: 2.375rem;
    width: 230px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.has-search {
    margin: 0px;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
#myInput:focus {
    width: 50%;
}
#myTable {
    width: 100%;
    font-size: 18px;
    background-color: white;
}
#myTable th, #myTable td {
    padding: 12px;
    border-right: 1px solid #ddd;
}
.modal-header, .modal-body, .modal-footer {
    background-color: rgba(0,0,0);
    border: none;
}
.modal-body {
    padding-top: 0px;
}
.modal-body::-webkit-scrollbar {
    display: none;
}
#myTable tr {
    border-bottom: 10px solid #ddd;
}
#myTable th {
    font-size: 27px;
}
th, tr {
    cursor: auto;
    pointer-events: none;
}
#myTable tr.header {
    background-color: rgb(253,195,6) ;
    font-family: netflix !important;
    border-bottom: none;
}
/* -------Video ở nút Search----------- */
#videoPhanTimKiem > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
}
#videoPhanTimKiem {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}














/* ----------------------------------------------Img fullscreen------------------------------ */
/* #vid-fullscreen {
    z-index: -1 ;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    opacity: 0.1;
} */








/* ------------------------------------------------------Main--------------------------------------------------------------- */
/* -------------------Làm mờ nút play------------------ */
div .amazingslider-play-1, div .amazingslider-play-2 , div .amazingslider-play-3 ,div .amazingslider-play-4, div .amazingslider-play-5, div .amazingslider-play-6 {
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
p {
    font-family: netflix !important;
    font-size: 3vw !important;
    margin-top: 200px;
}
p::before {
    content: "I";
    background-color: rgb(253,195,6);
    height: 100%;
    color :  rgb(253,195,6);
    border-radius: 25px;
}
p:hover {
    color :  rgb(253,195,6);
}
#fantasy-text, #comedy-text {
    margin-top: 100px;
}

button:focus, input:focus {
    outline: none;
}













/* ---------------------------------------------------------Footer------------------------------------------------------------ */
.footer-row {
    width: 100%;
}
.footer-row li {
    margin-bottom: 10px;
    font-family: cinzel;
    font-size: 2vw;
}
ul {
    list-style-type: none;
}
.icon {
    margin-left: 15px;
    height: 70px;
}
.footer-icon {
    padding: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none !important;
    margin: 5px ;
    border-radius: 50%;
    color: gray;
    font-size: 35px;
    margin: 3px;
}
.fa:hover {
    color: gray;
    opacity: 0.7;
    cursor: pointer  ;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 5px;
    display: none;
}
.back-to-top.scrolled {
    display: block;
}
